Source: ros-hydro-cob-srvs
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-message-generation, ros-hydro-std-msgs, ros-hydro-trajectory-msgs
Homepage: http://ros.org/wiki/cob_srvs
Standards-Version: 3.9.2

Package: ros-hydro-cob-srvs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-message-runtime, ros-hydro-std-msgs, ros-hydro-trajectory-msgs
Description: This Package contains Care-O-bot specific service definitions.
